<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Hello From Simple</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <LINK REL="SHORTCUT ICON" HREF="https://app.simplehq.co/img/favicon.ico?v=1.2.118">
        <link rel="stylesheet" href="https://app.simplehq.co/css/style-external-min-split.css?v=1.2.118">
        <link rel="stylesheet" href="https://app.simplehq.co/css/style-general-min-split.css?v=1.2.118">
    </head>
    <body class="prelogin">
      <script src="https://app.simplehq.co/js/vendor/jquery-1.9.1.js"></script>
      <script src="https://app.simplehq.co/js/vendor/analytics.js"></script>
      <script>
        $(document).ready(function() {

          if (typeof ga !== "undefined") {
              ga('send', 'pageview');
          }
        });
      </script>
      <div id="login-container">

        <section>
          <p class="login-text" style="font-size:27px; margin-bottom:18px; line-height:36px;">Simple is saying hello!</p>
          <p style="font-size:16px; line-height:26px">Thanks for visiting.<br>Proudly built on AWS and deployed with Ansible</a></p>
        </section>

        <img class="simple-logo" src="https://app.simplehq.co/img/login-logo.png?v=1.2.118" alt="Simple"/>
      </div>
    </body>
</html>
